<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siswa Baru</title>
</head>
<body>


    {% extends "layouts/base.html" %}

    {% block title %} UI Datatables {% endblock %} 
    
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}
    
    {% block content %}
    


        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 style="text-align: center;" class="card-title"><b>DAFTAR SISWA BARU TAHUN AJARAN {{setting.tahun_ajaran}}</b></h4>
                     
                        </div>           
                        <div class="card-body">                         
                            <div class="card-header" id="card-header-head-table-1">
                            
                            
                                  <table  style=" border-collapse: collapse; table-layout: fixed; "   class="table table-hover"  style="border: 1px solid black; " >
                                    <thead >
                                      <tr style="text-align: center; ">
                                        <th style="background-color: #2e775a; color: #feff9f; border: 1px solid black;" scope="col">Nomor Identitas</th>
                                        <th style="background-color: #2e775a; color: #feff9f; border: 1px solid black;" scope="col">Nama Siswa</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for siswa in data_siswa %}
                                      <tr>
                                        <td style="border: 1px solid black;">{{siswa.nomor_identitas}}</td>
                                        <td style=" border: 1px solid black;">{{siswa.nama_siswa_baru}}</td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            
                              </div>           
                        </div>
            </div>
        </div>
    </div>
      
</div>
    
    {% endblock content %}
    
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    
       
    {% endblock javascripts %}
    
</body>
</html>